%h1 Choose a subway line:
- Route::LINES.each do |color, lines|
  .row
    - lines.each do |line|
      %a.train{class: color, href: "/" + line}= line

%h1 Or enter a bus route:
%form{action: '/'}
  %input#bus-route{name: "route", placeholder: 'B63'}

.footer
  Made by <a href=http://akahn.net>Alex Kahn</a> • <a href=https://github.com/akahn/nyctrans.it>Source</a>
