- if @route.bus?
  %h2.bus= @route.to_s
- else
  %h2.train{:class => @route.color}= @route.to_s
%h1 Current status:
%h2
  = @route.service.status
  on the #{@route.service_group}

- if @route.service.bad?
  %form{:action => "http://mta.info/status/serviceStatus.html", :method => "POST"}
    %input{:name => "lineName", :value => @route.service_group, :type => "hidden"}
    %input{:name => "mode", :value => @route.mode, :type => "hidden"}
    %input{:type => "submit", :value => "Get more service information"}

%h2
  - if @route.bus?
    %a{:href => @route.schedule} Map and timeline
  - else
    %a{:href => @route.map} Line information
    •
    %a{:href => @route.schedule} Timetable
