- if @route.bus?
  %h2.bus= @route.to_s
  %a{:href => @route.schedule} Map and schedule
- else
  %h2.train{:class => @route.color}= @route.to_s
  %a{:href => @route.map} Map
  %a{:href => @route.schedule} Timetable

= @route.service.status
- if @route.service.bad?
  %form{:action => "http://mta.info/status/serviceStatus.html", :method => "POST"}
    %input{:name => "lineName", :value => @route.service_group, :type => "hidden"}
    %input{:name => "mode", :value => @route.mode, :type => "hidden"}
    %input{:type => "submit", :value => "More information"}
